<%- include("header") -%>

<h2>This is the about page</h2>
<p>
    The quick brown fox jumps over the lazy dog<br />
    The quick brown fox jumps over the lazy dog<br />
    The quick brown fox jumps over the lazy dog<br />
    The quick brown fox jumps over the lazy dog<br />
    The quick brown fox jumps over the lazy dog<br />
</p>

<%- include("footer") -%>
